name: Build ZMK firmware

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout config
        uses: actions/checkout@v4

      - name: Build ZMK firmware
        uses: zmkfirmware/zmk-build-action@main
        with:
          board: nice_nano
          shield: numnumvum

      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: numnumvum-nice_nano
          path: |
            build/zephyr/zmk.uf2
